@import url('http://fonts.cdnfonts.com/css/bender');
* {
    margin: 0;
    font-family: 'Bender', sans-serif;   
}

:root {
    --txt-color: #eeeeee;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    
    
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    background-color: var(--header-color);
}
main{
    margin-top: 120px;
}
  
.content{
    max-width: 1000px;
    margin: auto;
    background-color: #1f141038;
    padding-top: 40px;
}
.m_c{
    background-color: #1f1410;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.logoname{
    display: flex;
    align-items: center;
}
.title{
    font-size: 25px;
    color: var(--txt-color);
}
.menu{

}
.menu_l{
    display: flex;
    list-style: none;
}
.menu_li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

.menu_e{
    font-size: 25px;
    color: var(--txt-color);
    text-decoration: none;
}
.m_t{
    font-size: 14px;
}
.flex{
    display: flex;
}
.box{
    padding: 0px 100px;
    margin: 20px 0px;
}
.img_l{
    max-width: 35%;
    height:30%;
    margin: 0px 20px 0px 0px;
    float: left;
}
.img_r{
    max-width: 35%;
    height:30%;
    margin: 0px 0px 0px 20px;
    float: right;
}
.text{
    color: var(--txt-color);
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}
.subtitle{
    color: var(--txt-color);
    font-size: 22px;
    text-align: center;
    margin: 30px 0px;
}